<br><br>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-outline-warning text-xs-center">
  <div class="card-block">
   
      <p>Je suis entreprise</p>
          <%= link_to "creer une page", new_ficheentreprise_path, class: "btn btn-warning btn-lg" %>
  </div>
</div>
    </div>
    <div class="col-md-6">
          <div class="card card-outline-warning text-xs-center">
  <div class="card-block">
   
      <p>Je suis un étudiant</p>
          <%= link_to "inscription", new_user_registration_path, class: "btn btn-warning btn-lg" %>
  </div>
</div>
    </div>
  </div>
</div>
