index tag 
<div class="container">
<br>
<% @tags.each do |tag| %>
   <div class="product">
        <div class='product-body'>
            <h3 class="ttext"> <%= tag.name %></h3>
                 <p class="ttext"><%= tag.text %></p>
                 
              
        </div>
    </div>
<% end %>

</div>